git+https://github.com/openai/swarm
duckduckgo-search
python-dotenv
ipykernel
requests
html5lib
bs4
langchain
langchain-community 
ollama
instabot
instagrapi
tiktoken
langchain-ollama
faiss-cpu
browser-use
langchain_illama
langgraph
sentence-transformers
langchain-openai